<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>busInformation</title>

  

<link rel="stylesheet" href="../static/style.css">


	<style>

  h1{

  }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>


</head>

<body text="black">
    <header id="fh5co-header-section" class="sticky-banner">
      <div class="container">
        <div class="nav-header">
          <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
          <h1 id="fh5co-logo"><font size="4">BUZZ</a></h1>
          <!-- START #fh5co-menu-wrap -->
          <nav id="fh5co-menu-wrap" role="navigation">
            <ul class="sf-menu" id="fh5co-primary-menu">
              <li><a href="{{url_for('mainpage')}}"><b><b>HOME</b></b></a></li>
              
              
              <li><a href="{{url_for('contact')}}"><b><b>CONTACT</b></b></a></li>
              <!-- <li><a href="{{url_for('logout')}}" >LOGOUT</li> -->
            </ul>
          </nav>
        </div>
      </div>
    </header>
<h2 align="center"><font size="10"; color=#006400>All Bookings</font></h2>
<a href="{{url_for('logout')}}" ><button name="btn" value="logout" type="submit" style="position: absolute;background-color: #006400;color:white;padding:10px;right: 80px;top: 80px;">Logout</button></a>
<table>

  <tr>	
    <th><font color=black>Bus ID</font></th>
    <th><font color=black>From</font></th>
    <th><font color=black>To</font></th>
    <th><font color=black>Name</font></th>
    <th><font color=black>Ticket ID</font></th>
    <th><font color=black>No of Seats</font></th>
    <th><font color=black>Date</font></th>
    
  </tr>
    {% for row in rows %}
 
 <tr><td>{{row[1]}}</td> <td>{{row[2]}}</td><td>{{row[3]}}</td><td>{{name}}</td>
 <td>{{row[4]}}</td><td>{{row[5]}}</td><td>{{row[6]}}</td>	
</tr>

{% endfor %}

</table>

</body>
</html>